<div class="controls">
  <label>
    <input type="range" min="0" max="2" step="0.1" class="topcoat-range gain"/></label>
  <div class="track-settings topcoat-button-bar">
    <div class="topcoat-button-bar__item">
      <button class="topcoat-button-bar__button mute">Mute</button>
    </div>
    <div class="topcoat-button-bar__item">
      <button class="topcoat-button-bar__button solo">Solo</button>
    </div>
    <div class="topcoat-button-bar__item">
      <button class="topcoat-button-bar__button effects">Effects</button>
    </div>
  </div>
</div>
<div class="pieces"></div>